<div class="oneestab">
    <div class="estabdeets">
      <img
        src={{establishmentIMG}}
        class="estab_logo"
        alt={{establishmentIMGalt}}
      
      />
      <a
        id="oneestab"
        href={{establishmentURL}}
      >
        <h1 class="estabname">{{establishment}}</h1>
      </a>
    </div>
    <h1 class="estabrating">{{establishmentRating}}</h1>
    <a id="oneestab" href={{establishmentURL}}>
      <h2 class="estabreviews">View Reviews</h2>
    </a>
    <p class="estabdesc">
        {{establishmentDescription}}
    </p>
  </div>

