<div class="onereview">
  <div class="onerevpic">
    <img src={{concat "../static/images/" username "_pfp.jpg"}} id="picwidth30" />
  </div>
  <div class="onerevtext">
    <div id="onerevheader">
      <div id="onerevline">
        <h1>{{reviewTitle}}</h1>
      </div>
      <div id="onerevrate">
        <h1>{{reviewRating}}/5</h1>
      </div>
    </div>
    <a id="greenlight" href={{concat "/users/" username}}>{{username}}</a>
    <p>{{reviewContent}}</p>
    {{#if response}}
        <h2>Seller's Response</h2>
        <p>{{response}}</p>
    {{/if}}
  </div>
</div>